---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

I have given a total of over 80 talks, including 15+ <i>public</i> talks. 

<ol type="1">
  <li><b>Colloquium</b>, Physics Colloquium, UMass Lowell, Lowell, MA, March 2026 [expected]</li>
  <li><i>Public Talk</i>, Central Idaho Dark Sky Reserve, Hailey, ID, March 2026 [expected]</li>
  <li><b>Seminar</b>, Purdue University, West Lafayette, IN, March 2026 [expected]</li>
  <li><i>Public Talk</i>, First Friday Astronomy, Boise, ID, March 2026 [expected]</li>
  <li>Contributed, 247th American Astronomical Society, Phoenix, AZ, January 2026</li> 
  <li><b>Invited</b>, Press Conference, 247th American Astronomical Society, Phoenix, AZ, January 2026</li> 
  <li><b>Seminar</b>, UMass Dartmouth, Dartmouth, MA, October 2025</li>
  <li>Contributed, 2025 NASA Hubble Fellowship Program Symposium, Baltimore, MD, October 2025</li> 
  <li><i>Public Talk</i>, UVA Public Nights, Charlottesville, VA, October 2025</li>
  <li>Contributed, 246th American Astronomical Society, Anchorage, Alaska, June 2025</li> 
  <li>Contributed, 2025 NRAO/GBO Postdoctoral Symposium, virtual, May 2025</li> 
  <li><i>Public Talk</i>, Back Bay Amateur Astronomers, virtual, May 2025</li>
  <li><b>Colloquium</b>, University of Maryland Astronomy Colloquium, College Park, MD, February 2025</li>
  <li><i>Public Talk</i>, Earth & Space Reports, virtual, February 2025</li>
  <li><i>Public Talk</i>, West Valley Astronomy Club, virtual, February 2025</li>
  <li>Contributed, 245th American Astronomical Society, National Harbor, Maryland, January 2025</li> 
  <li>Contributed, VICO-CICO-CASSUM Fall Workshop, University of Virginia, Charlottesville, VA, December 2024</li> 
  <li><b>Invited</b>, Symposium on Next Generation Astrochemistry, November 2024</li>
  <li><b>Colloquium</b>, UVA-NRAO Joint Colloquium, Charlottesville, VA, October 2024</li>
  <li><i>Public Talk</i>, UVA Public Nights, Charlottesville, VA, October 2024</li>
  <li><b>Seminar</b>, Carnegie Earth & Planets Laboratory, Washington, D.C., September 2024</li>
  <li>Contributed, 2024 NASA Hubble Fellowship Program Symposium, Pasadena, CA, September 2024</li> 
  <li><b>Invited</b>, 2023 PhD Prize Talk, Division H Days, IAU GA, Cape Town, South Africa, August 2024</li>
  <li>Contributed, VICO-CICO-CASSUM Spring Workshop, University of Virginia, Charlottesville, VA, May 2024</li> 
  <li>Contributed, Raising the Veil on Star Formation Near and Far, virtual, April 2024</li> 
  <li><b>Invited</b>, 2024 Harlow Shapley Lectures Series, Chattanooga State Community College, TN, April 2024</li>
  <li>Contributed, Extreme Solar Systems V, Christchurch, New Zealand, March 2024</li> 
  <li><b>Invited</b>, Celebrating 30 Years of Protoplanetary Disk Chemistry, Schloss Ringberg, Germany, February 2024</li>
  <li><i>Public Talk</i>, West Valley Astronomy Club, virtual, February 2024</li>
  <li>Contributed, 243rd American Astronomical Society, New Orleans, LA, January 2024</li> 
  <li><i>Public Talk</i>, Charlottesville Astronomical Society, Charlottesville, VA, January 2024</li>
  <li>Contributed, 2023 NASA Hubble Fellowship Program Symposium, Cambridge, MA, September 2023</li> 
  <li>Contributed, Kavli-IAU Astrochemistry Symposium, Traverse City, MI, July 2023</li> 
  <li>Contributed, 2023 Northeast Star and Planet Formation Meeting, CfA, June 2023</li> 
  <li><b>Seminar</b>, SMA Science Seminar, CfA, May 2023</li>  
  <li>Dissertation Talk, 241st AAS, Seattle, WA, January 2023</li>
  <li><b>Seminar</b>, Carnegie Earth & Planets Laboratory, Washington, D.C., December 2022</li>
  <li>ITC Luncheon Talk, CfA, October 2022</li>
  <li><b>Seminar</b>, University of Milan, Italy, October 2022</li>
  <li>Contributed, From Clouds to Planets II, Berlin, Germany, October 2022</li>
  <li><b>Seminar</b>, Leiden Astrochemistry Seminar, September 2022</li>
  <li>Planet and Star Formation Coffee, MPIA/Heidelberg, Germany, September 2022</li>
  <li>SPF Group Meeting, Garching, Germany, September 2022</li>
  <li>Contributed, Planet and Binary Formation in GI Discs, Leicester, UK, September 2022</li>
  <li><i>Public Talk</i>, Tellus Science Museum, Cartersville, GA, August 2022</li>
  <li>Contributed, Northeast Star and Planet Formation Meeting, Wesleyan, CT July 2022</li>
  <li><i>Public Talk</i>, Cape Cod Museum of Natural History, Brewster, MA, July 2022</li>
  <li><i>Public Talk</i>, Atwood Museum, Cape Cod, Chatham, MA, July 2022</li>
  <li>Contributed, 240th AAS, Pasadena, CA, virtual, June 2022</li>
  <li>Contributed, VICO-CICO-CASSUM Spring Workshop, Charlottesville, VA, May 2022</li>
  <li>Contributed, Exoplanets IV, Las Vegas, NV, May 2022</li>
  <li>Contributed, MAYA: Meeting of ALMA Young Astronomers, virtual, March 2022</li>
  <li><b>Seminar</b>, American Chemical Society, AstroCheminar, virtual, January 2022</li>
  <li><i>Public Talk</i>, Cape Cod Astronomical Society, virtual, January 2022</li>
  <li><b>Invited</b>, Lunch Talk, University of Virginia/NRAO, virtual, November 2021</li>
  <li><i>Public Talk</i>, Cape Cod Museum of Natural History, virtual, November 2021</li>
  <li><b>Invited</b>, Astrochemistry Discussions, virtual, November 2021</li>
  <li><b>Seminar</b>, Leiden Astrochemistry Seminar, virtual, October 2021</li>
  <li><i>Public Talk</i>, Beacon Hill Seminar, virtual, October 2021</li>
  <li><b>Seminar</b>, Exoplanet Pizza Lunch, CfA, virtual, September 2021</li>
  <li>Contributed, Chemical processes in Solar-type star forming regions, Turin, Italy, September 2021</li>
  <li><b>Invited</b>, SSP Coffee Talk, virtual, July 2021</li>
  <li>Contributed, Emerging Researchers in Exoplanet Science, virtual, May 2021</li>
  <li><b>Seminar</b>, Origins Seminar, University of Arizona, virtual, May 2021</li>
  <li>Contributed, Space Telescope, 2021 Spring Symposium, virtual, April 2021</li>
  <li>Contributed, Five years after HL Tau: a new era in planet formation, virtual, December 2020</li>
  <li>Contributed, Harvard-Heidelberg Star Formation Workshop, virtual, December 2020</li>
  <li>Contributed, Astrochemical Frontiers, virtual, June 2020</li>
  <li><i>Public Talk</i>, North Shore Amateur Astronomy Club, virtual, June 2020</li>
  <li><i>Public Talk</i>, Gloucester Area Astronomy Club, virtual, May 2020</li>
  <li><i>Public Talk</i>, Beacon Hill Seminar, Cambridge, MA, March 2020</li>
  <li><b>Seminar</b>, SMA Science Seminar, CfA, Cambridge, MA, February 2020</li>
  <li>Contributed, New England Star Formation Meeting, UConn, Storrs, CT, January 2020</li>
  <li>Contributed, 235th AAS, Honolulu, HI, January 2020</li>
  <li><i>Public Talk</i>, Union County College/AAI, Cranford, NJ, December 2019</li>
  <li>Contributed, Science with the Submillimeter Array: Present and Future, Taipei, Taiwan, October 2019</li>
  <li>Contributed, 74th ISMS, Champaign-Urbana, IL, June 2019</li>
  <li>Contributed, SNRs II, Chania, Crete, Greece, June 2019</li>
  <li><b>Seminar</b>, Exoplanet Pizza Lunch, Cambridge, MA, May 2019</li>
  <li><b>Invited</b>, ALMA Community Day, Cambridge, MA, April 2019</li>
  <li><b>Invited</b>, ALMA Community Day, Cambridge, MA, April 2019</li>
  <li><b>Seminar</b>, High Energy Phenomena Seminar, Cambridge, MA, February 2019</li>
  <li><b>Invited</b>, SMA Advisory Committee Meeting, Cambridge, MA, July 2018</li>
  <li><i>Public Talk</i>, Gloucester Area Astronomy Club, Gloucester, MA, September 2018</li>
  <li><i>Public Talk</i>, Science Research Mentoring Program, Cambridge Rindge & Latin School, Cambridge, MA, March 2018</li>
</ol> 

<!---{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}--->
